<%- model_class = Fortune -%>

<p><%= link_to t('.new'),
            new_fortune_path,
            :class => 'btn btn-primary' %></p>

<table class="table table-striped">
  <colgroup>
    <col class="id">
    <col class="quotation">
    <col class="source">
    <col class="created-at">
    <col class="actions-buttons">
  </colgroup>

  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:quotation) %></th>
      <th><%= model_class.human_attribute_name(:source) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @fortunes.each do |fortune| %>
      <tr>
        <td><%= link_to fortune.id, fortune_path(fortune) %></td>
        <td><%= fortune.quotation %></td>
        <td><%= fortune.source %></td>
        <td><%=l fortune.created_at, format: :short %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_fortune_path(fortune), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      fortune_path(fortune),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
